<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Real-Time Flights</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
      margin-top: 20px;
    }
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
    }
    th {
      background: #f2f2f2;
      text-align: left;
    }
    tr:hover {
      background-color: #f9f9f9;
    }
  </style>
</head>
<body>
<div layout:fragment="content" class="mb-4">
<h1>Real-Time Flights</h1>
<table>
  <thead>
  <tr>
    <th>Flight Date</th>
    <th>Departure Airport</th>
    <th>Departure Time</th>
    <th>Arrival Airport</th>
    <th>Arrival Time</th>
    <th>Airline Name</th>
    <th>Flight Number</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="flight : ${flights}">
    <td th:text="${flight.flightDate}">Flight Date</td>
    <td th:text="${flight.departureAirport.city}">Departure Airport</td>
    <td th:text="${flight.departureTime}">Departure Time</td>
    <td th:text="${flight.arrivalAirport.city}">Arrival Airport</td>
    <td th:text="${flight.arrivalTime}">Arrival Time</td>
    <td th:text="${flight.airlineName}">Airline Name</td>
    <td th:text="${flight.flightNumber}">Flight Number</td>
  </tr>
  </tbody>
</table>
</div>
</body>
</html>
